:root{
  --aside-LightMode: #f8fafc;
  --shadow-colors: #cbcbcb;
  --iconBackground: linear-gradient(135deg,var(--iconColor1) ,var(--iconColor2) );
  --iconColor1: #2563eb;
  --iconColor2: #7c3aed;
  --textColor: #475569;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
@font-face {
  font-family: Syne;
  src: url(./fonts/Syne.ttf);
}